.sidebarRelated {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.videoContainer {
  padding-bottom: 10px;
}

.videoDetails {
  display: grid;
  grid-template-columns: 168px 1fr;
}

.thumbnailImage {
  width: 168px;
  height: 94px;
  object-fit: cover;
}

.thumbnailContainer {
  display: flex;
  width: 168px;
  height: 94px;
  position: relative;
}

.timeStamp {
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 5px;
  bottom: 5px;

  font-size: 12px;
  font-weight: bold;

  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1px 5px 0 5px;
  border-radius: 2px;
}

.videoStats {
  padding-left: 10px;
}

.videoTitle {
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.channelTitle,
.views {
  font-size: 12px;
  color: var(--colorMediumDark);
  letter-spacing: 1px;
  font-weight: lighter;
}
