.homePageContainer {
  grid-row: 3/4;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin-top: 20px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.homePageContainer::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
